<!DOCTYPE html>
<html lang="en">



<body>

  <body id="page-top">
    <!-- Navigation-->

    <!-- Masthead-->
    <header class="masthead mainpagebg">
      <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center ">
          <div class="text-center bellybox">
            <h1 class="shadow mx-auto my-0 text-uppercase" style="transform: translate(0%,-50%);">Spring Bank</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5 undertext" style="transform: translate(0%,-90%);">Do all your banking in one place!</h2>
            <a class="btn-custom-2" style="transform: translate(0%, 30%);" href="#about">Get Started</a>
          </div>
        </div>
      </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8">
            <h2 class="text-white mb-4 mainpagetexthead">Built with Bootstrap 5</h2>
            <p class="text-white-50 mainpagetext">
              Spring Bank is consistently innovating and changing the banking industry with new technologies
            </p>
          </div>
        </div>
        <img />
      </div>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
      <div class="container-lg px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
          <div class="col-xl-8 col-lg-7 mainpagesaving"></div>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left ">
              <h4 class="mainpagetexthead">Savings account signup</h4>
              <p class="text-black-90 mb-0 mainpagetext">Signup for an affordable and rewarding savings account! sometimes putting all your eggs in one basket is called a "good financial decision"</p>
              <div class="centerparent">
                <a class="btn-custom centerchildbtn" href="createSavingsAccount">sign up</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Project One Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
          <div class="col-lg-6 mainpagecredit"></div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                  <h4 class="text-white mainpagetexthead">Lines of credit</h4>
                  <p class="mb-0 text-white-50 mainpagetext">lines of credit and financing options available</p>
                  <div class="centerparent">
                    <a class="btn-custom centerchildbtn" style="font-size:11px" href="getnewcard">Get Started</a>
                  </div>
                  <hr class="d-none d-lg-block mb-0 ms-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Project Two Row-->
        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center" style="transform: translateX(-1.15%);">
          <div class="col-lg-6 mainpagesupport"></div>
          <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
              <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                  <h4 class="text-white mainpagetexthead">Customer support</h4>
                  <p class="mb-0 text-white-50 mainpagetext">from friday 12 at night to sunday mornings our customer service team has got you covered world-wide!</p>
                  <hr class="d-none d-lg-block mb-0 ms-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Signup-->
    <!-- Footer-->
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

  </body>