<head>
  <script type="text/javascript" th:src="@{../javascript/forms.js}"></script>
</head>

<body>
  <section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">
                    <img src="https://i.imgur.com/R8qprV2.png" style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1">Welcome to Spring Bank</h4>
                  </div>

                  <form [formGroup]="LoginForm" (ngSubmit)="login()">
                    <p class="mediatext">Please login to your account</p>

                    <div class="row mb-4">
                      <div class="col-md-6">
                        <div class="form-outline form-white " style="width: 19rem;">
                          <label class="form-label mediatext-h1" for="username" style="margin-left: 0px;">username</label>
                          <input formControlName="username" type="text" name="username" id="username" class="form-control form-control-lg" placeholder="username or email" minlength="4" maxlength="50" onfocus="onEnter(this)" onblur="onExit(this)" required />
                        </div>
                      </div>
                    </div>

                    <div class="row mb-4">
                      <div class="col-md-6">
                        <div class="form-outline form-white " style="width: 19rem;">
                          <label class="form-label mediatext-h1" for="password" style="margin-left: 0px;">password</label>
                          <input formControlName="password" type="password" name="password" id="password" class="form-control form-control-lg" placeholder="password" minlength="4" maxlength="50" onfocus="onEnter(this)" onblur="onExit(this)" required />
                        </div>
                      </div>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button class="btn btn-primary btn-block fa-lg mb-3" type="submit">Log
                        in</button>
                      <a class="text-muted" href="#!">Forgot password?</a>
                    </div>

                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <a type="button" class="btn btn-outline-danger" href="register">Create new</a>
                    </div>

                  </form>

                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">

                <div class="text-white px-3 py-4 p-md-5 mx-md-4 ">
                  <div class="bellybox"></div>
                  <h1 class="mb-4" style="transform: translate(5%,-100%);">We are more than just a company</h1>
                  <p class="small mb-0" style="font-size:small; transform: translate(2%,-740%);">we're your #1 choice for banking worldwide</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</body>