
<!DOCTYPE html>
<html lang="en">

<head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    
    <app-head></app-head>

</head>

<style>
    .center {
        text-align: center;
    }

    .ftable tr:not(.fble_htr) {
    counter-increment: rowNumber;
}

.ftable tr:not(.fble_htr) td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

</style>

<body>
    <header th:admin="adminprofile">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Transfer</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Approve Beneficiary</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Approve Account</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Enable/Block Customer</a>
                  </li>
                </ul>

                <form [formGroup]="searchForm">
                  
            
                  <div class="form-group" class="d-flex" role="search">
                    
                    <input type="number" class="form-control"  placeholder="Enter Account Number" formControlName="accountnumber" [(ngModel)]="accountnumber" >
                    <button class="btn btn-outline-success" type="submit"(click)=showaccount()>search Transaction</button>
                  </div>

               
                 
                </form>
              </div>
            </div>
          </nav>
        

      

    </header>

    <div class="container-lg" style="position: relative;">
        <div class="row g-3">
            <div class="col-sm-12 col-md-6">
                <div class="shadow container" style="background-color: #c7c7c7; ">
                    <div class="staff" style="background-color: #c7c7c7; border-width:0px;">
                        <div class="staff-body">
                            
                            <h5>Account Information</h5>
                            
                            <table class="table table-dark table-striped ">
                                <thead>
                                   
                                    <th scope="col">Account Number</th>
                                    <th scope="col">userid</th>
                                    <th scope="col">firstname</th>
                                    <th scope="col">lastname</th>
                                </thead>
                                <tbody>
                                  
                                 
                                  <td>{{account.accountNumber}}</td>
                                  <td>{{account.userId}}</td>
                                  <td>{{account.firstName}}</td>
                                  <td>{{account.lastName}}</td>
                                  
                                 


                          
                              </tbody>

                           
                              

                            </table>
                            
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div></div>
        
        <div class="table-responsive mt-3">
          <table class="table table-dark table-borderless sortable">
              <thead>
                  <tr>
                      <th scope="col">Activity</th>
                      <th scope="col">Mode</th>
                      <th class="sort-column" data-sort-order="null" scope="col">Date</th>
                      <th scope="col">memo</th>
                      <th scope="col" class="text-right">Amount</th>
                  </tr>
              </thead>
              <tbody>
                  <tr class="item" *ngFor="let transaction of Transactions; let i = index">
                      <td scope="row"> <span class="mr-1">{{transaction.transactionType | titlecase }}</span></td>
                      <td class=" bgglow springcardsm"><span class="fa"></span></td>
                      <td class="text-muted">{{transaction.date_and_time}}</td>
                      <td class="text-muted">{{transaction.reference}} </td>

                      <td class="d-flex justify-content-end align-items-center">{{transaction.amount | currency:'USD' }}<span [ngClass]="(transaction.transactionType=='WITHDRAW') ? 'redCirc' : 'greenCirc'" class=" fa fa-long-arrow-up mr-1">
                              <a class="w-or-d " [ngClass]="(transaction.transactionType=='WITHDRAW') ? 'downarrow' : 'uparrow'"></a></span> </td>
                  </tr>
              </tbody>
          </table>
      </div>
</body>

</html>